/* Contenidor general */
.container {
  max-width: 500px;
  margin: 0 auto;
  font-family: sans-serif;
  padding: 10px;
}
.inici {
  max-width: 500px;
  margin: 0 auto;
  font-family: sans-serif;
  padding: 10px;
}

.controls {
  display: flex;
  align-items: center;
  gap: 12px;
}
.controls-box {
  background-color: #f5f1e8; /* color cru */
  border: 1px solid #e0d9c9;
  border-radius: 3px;
  padding: 5px 5px;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
  margin-bottom: 24px;
}
.label {
  font-weight: 450;
}

.level-buttons {
  display: flex;
  gap: 2px;
}

.level-buttons button {
  padding: 8px 14px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: #f5f5f5;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.2s ease;
}

.level-buttons button:hover {
  background: #eaeaea;
}

.level-buttons button.active {
  background: #2563eb;
  color: white;
  border-color: #2563eb;
}

/* Puzzle grid */
.puzzle {
  display: grid;
  gap: 2px;
  width: 100%;
  /* aspect-ratio: 1;  fa quadrat */
  /* margin-bottom: 10px; */
}

/* Cada peça */
.piece {
  position: relative;
  width: 100%;
  /*padding-top: 100%; */
  overflow: hidden;  /* retalla la imatge */
  cursor: pointer;
  border: 1px solid #ccc;
}

.piece.active {
  border: 2px solid red;
}

/* Imatge dins cada peça */
.piece img {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% * var(--size));
  height: calc(100% * var(--size));
  /*width:100%;
  height: 100%;*/
}

/* Missatge de guany */
.win {
  color: green;
  font-weight: bold;
  text-align: center;
  margin: 10px 0;
}

/* Preview de la imatge completa */
.preview img {
  width: 50%;
  height:50%;
  margin-top: 10px;
}
.title {
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align:center;
  color: #1f2933;
  margin-bottom: 20px;
  
}
